:root {
    --navi-blue-color: #2e2f42;
    --cloud-color: #F4F4FD;
    --iris-color: #4D5AE5;
    --slate-color: #434455;
    --white-txt-color: #ffffff;
    --white-bg-color: #ffffff;
    --ocean-color: #404bbf;
    --green-color: #31d0aa;
    --slate-color: #434455;
    --light-slate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --navy-blue-modal: #2e2f42;
    --navy-blue-bgmodal: rgba(46, 47, 66, 0.4);
    --grey-color: #2e2f42;

    --gap-between-column: 24px;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --anim-backdrop: 300ms ease-in-out;
}

/* Прибираємо маркери */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Прибираємо підкреслення */
.link {
    text-decoration: none;
}

/* Робимо адресу прямим нормальним шрифтом */
.address {
    font-style: normal;
}

/* Приховування елементу */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white-bg-color);
}


.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;

    /* outline: 2px solid red; */
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--navi-blue-color);
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navi-blue-color);

    margin-bottom: 72px;
}

/**
  |============================
  | Header
  |============================
*/
.logo.link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    text-decoration: none;

    padding: 24px 0;
    margin-right: auto;
}

@media only screen and (min-width: 768px),
(min-width: 1158px) {
    .logo.link {
        margin-right: 76px;
    }
}

.menu-toggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.menu-toggle-icon:hover,
.menu-toggle-icon:focus {
    stroke: var(--iris-color);
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle-icon {
    stroke: currentColor;
}



.page-header {
    border-bottom: 1px solid var(--cornflower-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .page-header-container {
        display: flex;
        align-items: center;
    }
}

.nav-container {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
    margin-right: auto;

}

@media only screen and (min-width: 768px) {
    .nav-header {
        display: flex;
        align-items: center;
        /* justify-content: flex-end; */
    }
}


@media only screen and (min-width: 1158px) {
    .nav-header {}
}


.header-logo {
    color: var(--navi-blue-color);
}

.nav-list {
    display: none;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .nav-list {
        display: flex;

    }
}

.nav-list .link {
    position: relative;
    color: var(--navi-blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color var(--animation);
}

.nav-list .current {
    color: var(--ocean-color);
}



.nav-list .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    background-color: var(--ocean-color);
}

.nav-list .link:hover,
.nav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus {
    color: var(--ocean-color);
}

.address {}

.address-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media only screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        color: var(--slate-color);
    }
}

.address li,
.address .link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding: 0;

    color: var(--slate-color);
    transition: color var(--animation);
}

@media only screen and (max-width: 768px) {

    .address li,
    .address .link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
}

@media only screen and (min-width: 1158px) {

    .address li,
    .address .link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;

    }
}

/**
  |============================
  | Main
  |============================
*/
/**
  |============================
  | Hero
  |============================
*/
.hero-section {
    padding: 188px 0;
    margin: 0 auto;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_mob_@1x.jpg);
    background-color: rgba(46, 47, 66, 0.7);
    max-width: 1440px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_mob_@2x.jpg);
    }
}

@media only screen and (min-width: 428px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_tab_@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_tab_@2x.jpg);
        }
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_desk_@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_desk_@2x.jpg);
        }
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--white-txt-color);
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
        text-align: center;

        margin-bottom: 38px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    background-color: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-txt-color);

    transition: background-color var(--animation);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean-color);
}

/**
  |============================
  | Features
  |============================
*/
.section {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;
    }
}

.feature-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

@media only screen and (min-width: 768px) {
    .feature-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-between-column);
    }
}

@media only screen and (min-width: 1158px) {
    .feature-list {
        display: flex;
        gap: var(--gap-between-column);
        flex-wrap: wrap;
    }
}

.feature-item {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .feature-item {
        width: calc((100% - 24px)/2);
    }
}

@media only screen and (min-width: 1158px) {
    .feature-item {
        width: calc((100% - 3*24px)/4);
    }
}

.feature-icon {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .feature-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--cloud-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }
}

.feature-title {
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .feature-title {
        margin-bottom: 8px;
        text-align: start;
    }
}



/**
  |============================
  | What are we doing
  |============================
*/
.gallery-section {
    display: none;

}

@media only screen and (min-width: 1158px) {
    .gallery-section {
        display: inline;
        padding-top: 0;
    }
}


.gallery-item img {
    display: block;
}

.gallery-list {
    display: flex;
    gap: var(--gap-between-column);
}

/**
  |============================
  | Our Team
  |============================
*/
.team-section {
    background-color: var(--cloud-color);
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
    }
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* .team-item:first-child {
    margin-left: 0;
}

.team-item:last-child {
    margin-right: 0;
} */

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-img {
    display: block;
}

.team-container {
    padding: 32px 0px;
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; */
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}



.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    color: var(--cloud-color);

    transition: background-color var(--animation);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--ocean-color);
}

.social-icons {
    fill: currentColor;
}

/**
  |============================
  | customers
  |============================
*/
.customers-section .section-title {
    line-height: 1.1;
}

.clients-icon-list {
    display: flex;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .clients-icon-list {
        column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .clients-icon-list {
        gap: 24px;
    }
}

.clients-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    color: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;

    transition: color var(--animation), border var(--animation);
}

.clients-icons {
    fill: currentColor;
}

.clients-icon-link:hover,
.clients-icon-link:focus {
    color: var(--ocean-color);
    border: 1px solid var(--ocean-color);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
    background-color: var(--navi-blue-color);
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer-logo {
    color: var(--cloud-color);
}

.footer .logo.link {
    display: block;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer .logo.link {
        text-align: start;
    }
}

.footer-text {
    color: var(--cornflower-color);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: start;
        align-items: baseline;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        padding-left: 0;
    }
}

.footer-wrap {
    width: 268px;
}

@media only screen and (min-width: 768px) {
    .footer-wrap {
        width: 264px;

    }
}

@media only screen and (min-width: 1158px) {
    .footer-wrap {
        width: 264px;
        margin-right: 120px;
    }
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;

    color: var(--white-txt-color);
}

@media only screen and (min-width: 768px) {
    .social-title {
        text-align: start;
    }
}

.media-icon-item {
    width: 40px;
    height: 40px;
}

.media-icon-link {
    background-color: var(--iris-color);
    color: var(--cloud-color);
    width: 100%;
    height: 100%;
    transition: background-color var(--animation);
}

.media-icon-link:hover,
.media-icon-link:focus {
    background-color: var(--green-color);
}

.media-icon-list {
    gap: 16px;
}

.subscribe-container {}

@media only screen and (min-width: 768px) {
    .subscribe-container {
        margin-right: auto;
    }
}

@media only screen and (min-width: 1158px) {
    .subscribe-container {
        margin-left: auto;
        margin-right: 0;
    }
}



.subscribe-form {
    color: var(--white-txt-color);
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .subscribe-form {
        display: flex;
        align-items: baseline;
    }
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-txt-color);
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 auto 16px auto;

    background-color: transparent;

    color: inherit;
    outline: 1px solid transparent;

    transition: border var(--animation);
}

.subscribe-container input:hover,
.subscribe-container input:focus {
    border: 1px solid var(--iris-color);
}

@media only screen and (min-width: 768px) {
    .subscribe-form-input {
        margin: 0;
        margin-right: 24px;
    }
}

.subscribe-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: inherit;
}

.subscribe-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    background: var(--iris-color);
    color: var(--white-txt-color);
    border-radius: 4px;
    border: none;

    transition: background var(--animation);
}

@media only screen and (min-width: 768px) {
    .subscribe-button {
        margin: 0;
    }
}

.subscribe-button:hover,
.subscribe-button:focus {
    background: var(--ocean-color);
}

.subscribe-icon {
    fill: var(--white-txt-color);
    width: 100%;
    height: 100%;
}

/**
  |============================
  | Portfolio
  |============================
*/
/* filters */
.filter-button-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 16px;
    width: 280px;
    margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
    .filter-button-list {
        gap: 24px;
        margin-bottom: 64px;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (min-width: 1158px) {
    .filter-button-list {
        margin-bottom: 72px;
    }
}

.filter-button {
    padding: 12px 24px;
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;

    transition: color var(--animation), background-color var(--animation), border var(--animation), box-shadow var(--animation);
}

@media screen and (max-width: 767px) {
    .filter-button {
        padding: 8px 16px;
    }
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--ocean-color);
    color: var(--white-txt-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Cards
  |============================
*/
.card-section {
    padding: 48px 0;
}

@media only screen and (min-width: 768px) {
    .card-section {
        padding: 64px 0;
    }
}

@media only screen and (min-width: 1158px) {
    .card-section {
        padding: 100px 0 120px 0;
    }
}


.card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

@media only screen and (min-width: 768px) {
    .card-list {
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .card-list {
        row-gap: 48px;
    }
}

.card-descr {
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
    border-left: 1px solid var(--cornflower-color);
    padding: 32px 16px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);

    margin-bottom: 8px;
}

.card-text {
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.card-item img {
    max-width: 100%;
}

.card-link {
    display: block;
    transition: box-shadow var(--animation);
}

.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform var(--animation);

    background: var(--iris-color);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
    transform: translateY(0);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--cloud-color);
}

/**
  |============================
  | Modal
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--navy-blue-bgmodal);

    transition: opacity var(--anim-backdrop), visibility var(--anim-backdrop);
}

@media screen and (orientation:landscape) {

    .backdrop,
    .menu-container,
    .modal {
        overflow: auto;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 392px;
    min-height: 586px;
    padding: 72px 24px 24px;

    background-color: var(--white-bg-color);
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms ease-in;
}

@media only screen and (max-width: 427px) {
    .modal {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        min-height: 586px;
        padding: 72px 24px 24px;

        background-color: var(--white-bg-color);
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
        opacity: 1;
        transition: transform 300ms, opacity 300ms ease-in;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(0) scale(0.2);
    opacity: 0;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--navi-blue-color);

    transition: background-color var(--animation), fill var(--animation);
    cursor: pointer;
}

.modal-icon {
    color: currentColor;
}

.modal-btn:hover {
    background-color: var(--ocean-color);
    fill: var(--white-bg-color);
}

.modal-title {
    display: block;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    margin-bottom: 16px;

    color: var(--navy-blue-modal);
}

.modal-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    cursor: pointer;

    width: 169px;
    height: 56px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--white-txt-color);
    background: var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background var(--animation);
}

.modal-button:hover,
.modal-button:focus {
    background: var(--ocean-color);
}

.modal-label {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--light-slate-color);
}

.modal-label-text {
    margin-bottom: 4px;
}

.modal-label-wrap {
    position: relative;
}

.modal-label-input {
    display: block;
    height: 40px;
    padding: 8px 16px 8px 38px;
    width: 100%;

    border: 1px solid var(--navy-blue-bgmodal);
    border-radius: 4px;
    transition: border var(--animation);
    outline: 1px solid transparent;

}

/* .modal-label-input:not(:placeholder-shown) {
    border-color: var(--iris-color);
} */

/* .modal-label input:placeholder-shown {
    border: 1px solid var(--iris-color);
} */

.modal-label-textarea {
    display: block;
    resize: none;
    min-height: 120px;
    width: 100%;

    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid var(--navy-blue-bgmodal);
    border-radius: 4px;
    transition: outline var(--animation);
    outline: 1px solid transparent;
}

.modal-icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navi-blue-color);

    transition: fill var(--animation);
    pointer-events: none;
}

.modal-label-input:hover+.modal-icon-input,
.modal-label-input:focus+.modal-icon-input {
    fill: var(--iris-color);
}

.modal-label-input:hover,
.modal-label-input:focus,
.modal-label-textarea:hover,
.modal-label-textarea:focus {
    outline: 1px solid var(--iris-color);
}

.modal-label-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--navy-blue-bgmodal);
}

.modal-label-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    transition: border var(--animation), background var(--animation);
}

.checkbox {
    appearance: none;
}

.checkbox-text {
    margin-left: 8px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--light-slate-color);
}

.checkbox-text a {
    color: var(--iris-color);
}

.checkbox-icon-unchecked {
    opacity: 1;
    transition: opacity var(--animation);
}

.checkbox-icon-checked {
    opacity: 0;
    transition: opacity var(--animation);
}

.checkbox:checked+.checkbox-icon>.checkbox-icon-checked {
    opacity: 1;
}

.checkbox:checked+.checkbox-icon>.checkbox-icon-unchecked {
    opacity: 0;
}

/**
  |============================
  | Mobile menu
  |============================
*/

.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 60px 35px 40px 40px;
    background-color: var(--white-bg-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms var(--animation);
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu .link {
    display: block;
    padding: 20px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--navi-blue-color);
}

.mobile-menu .link:hover,
.mobile-menu .link:focus,
.mobile-menu-tel:hover,
.mobile-menu-tel:focus,
.mobile-menu-email:hover,
.mobile-menu-email:focus {
    color: var(--ocean-color);
}

.mobile-menu {
    margin-bottom: auto;
}

.mobile-menu .current {
    color: var(--ocean-color);
}

.mobile-menu-tel {
    display: block;
    padding: 20px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--iris-color);
}

@media screen and (max-width: 427px) {
    .mobile-menu-tel {
        font-size: 24px;
    }
}

.mobile-menu-email {
    display: block;
    padding: 20px 0 20px 0;
    margin-bottom: 28px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--slate-color);
}

.mobile-menu-icon-list {
    display: flex;
    gap: 56px;
}

@media only screen and (max-width: 427px) {
    .mobile-menu-icon-list {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        max-width: 260px;
    }
}

.media-icon-item {}